version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: kg-work-plan-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kg_work_plan_dev
    # Expose the port to the host machine so you can use a local client to connect/inspect to the database
    ports:
      - "54320:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  pg_proxy:
    image: ghcr.io/neondatabase/wsproxy:latest
    container_name: kg-work-plan-pg-proxy
    environment:
      APPEND_PORT: "postgres:5432"
      ALLOW_ADDR_REGEX: ".*"
      LOG_TRAFFIC: "true"
    ports:
      - "54330:80"
    depends_on:
      - postgres

volumes:
  postgres_data:

